{% extends "customer_detail.html" %}
{{block.super}}

{% block addhead %}
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">


{% endblock addhead %}

{% block right-pane %}
    <div id="map"></div>
    <div id="capture"></div>
    <script async defer type="text/javascript">
        var map;
        var lati = parseFloat("{{jobsite.lat}}");
        var long = parseFloat("{{jobsite.lng}}");

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lati, lng: long},
                zoom: 19,
                mapTypeId: 'hybrid',
                keyboardShortcuts: false,
            });


            var marker = new google.maps.Marker({
                animation: google.maps.Animation.BOUNCE,
                position: {lat: lati, lng: long},
                map: map,
                title: "{{jobsite.jobStreet}}"
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYA6304AZ4M-qvzuIXVnEaRNYftGu_cDM&callback=initMap"></script>
{% endblock right-pane %}


{% block jobsite-content %}
<div class="col-md-12">
<h3>{{ jobsite_title }}</h3>
    <a href="{{ jobsite.get_absolute_url }}jobsite_update" type=button class="btn btn-primary">Edit</a>
    <a href="{{ jobsite.get_absolute_url }}jobsite_delete"
       onclick="return confirm('Are you sure want to delete this Jobsite and all associated work orders, think really hard before you press OK?');"
       type="button" class="btn btn-danger">Delete</a>


    <table class="tg">
        <tr>
            <td>Jobsite #:</td>
            <td colspan="3">{{jobsite.jobId}}</td>

        </tr>
        <tr>
            <td>Created:</td>
            <td>{{jobsite.created}}</td>
            <td>Modified:</td>
            <td>{{jobsite.modified}}</td>
        </tr>
        <tr>
            <td>Job Address:</td>
            <td>{{jobsite.jobStreet}}<br>{{jobsite.jobCity}}, {{jobsite.jobState}} {{jobsite.jobZip}}</td>
            <td>Modified By:</td>
            <td>{{jobsite.modified_by}}</td>
        </tr>
        <tr>
            <td>Access:</td>
            <td>{{jobsite.access}}</td>
            <td>Stories:</td>
            <td>{{jobsite.stories}}</td>
        </tr>
        <tr>
            <td>Notes:</td>
            <td colspan="3" rowspan="3">{{jobsite.notes}}</td>
        </tr>
    </table>
</div>
{% endblock jobsite-content %}

{% block appointment-content %}

    <a href="{{ get_absolute_url }}appointment_create" class="btn btn-success" role="button">New Appointment</a>


            <table>
                <thead>
                    <th>Appointment Date</th>
                    <th>Time Slot:</th>
                    <th>Completed</th>
                </thead>
                {% for obj in appointment %}
                <tr>
                    <td>
                        {% if obj.schedule_date %}
                        <a href="{{get_absolute_url}}appointment_detail/{{obj.appId}}">{{obj.schedule_date}}</a>
                        {%else%}
                        <a href="{{get_absolute_url}}appointment_detail/{{obj.appId}}">Unscheduled</a>
                        {% endif %}
                                      
                    </td>

                    <td>{{obj.time_slot}}</td>
                    <td>{%if obj.completed %} <span class="glyphicon glyphicon-ok" aria-hidden="true">{%endif%}</td>
                </tr>
                {%endfor%}
            </table>

    
{% endblock appointment-content %}



