{% extends "base.html" %}

{% block content %}


<div class="container col-xs-12">
<h1 align="center">Open Workorders</h1>

    <div id="lead-div" class="col-xs-4">
        <h1>{{ openlead }}</h1>
        {% if ests%}
        {% for obj in ests %}
            <div class="thumbnail">
                <div class="caption">

                    <h3 class="lead-link"><a href="{{obj.get_absolute_url }}" class="">{{obj.title}}</a></h3>
                    <div class="info">
                    <strong>Created: {{obj.created|timesince }}</strong></br>
                    <strong>Modified: {{ obj.modified|timesince }}</strong><br/>
                    </div>
                    <a href="{{ obj.get_absolute_url }}" class="btn btn-info" id="btnViewWorkorder" role="button">View</a></p>
                </div>
            </div>
        {%endfor%}

        {% else %}
        No Open Leads
        {% endif %}

    </div>



    <div id="serv-div" class="col-xs-4">
        <h1>{{openserv}}</h1>
        {% if servs %}
            {% for obj in servs %}
                <div class="thumbnail">
                    <div class="caption">

                        <h3 class="serv-link"><a href="{{obj.get_absolute_url }}"class="thumbnail-heading">{{obj.title}}</a></h3>
                        <div class="info">
                        <strong>Created: {{obj.created|timesince }}</strong></br>
                        <strong>Modified: {{ obj.modified|timesince }}</strong><br/>
                        </div>
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-info" id="btnViewWorkorder" role="button">View</a></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        No Open Service Calls! Good Job!
        {% endif %}
    </div>


    <div id="insp-div" class="col-xs-4">
        <h1>{{openinsp}}</h1>
        {% if insp %}
        {% for obj in insp %}
            <div class="thumbnail">
                <div class="caption">

                    <h3 class="insp-link"><a href="{{obj.get_absolute_url }}"class="thumbnail-heading">{{obj.title}}</a></h3>
                    <div class="info">
                    <strong>Created: {{obj.created|timesince }}</strong></br>
                    <strong>Modified: {{ obj.modified|timesince }}</strong><br/>
                    </div>
                    <a href="{{ obj.get_absolute_url }}" class="btn btn-info" id="btnViewWorkorder" role="button">View</a></p>
                </div>
            </div>
        {% endfor %}
        {% else %}
        No Open Inspections!
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block footer %}

<div class="pagination col-md-8">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></a>
        {% endif %}
    </span>
</div>
</div>
{% endblock footer %}}