{% extends "base.html" %}

{% block content %}
<div id="container">


    <div class="estimate-div">
        <h1>{{ openlead }}</h1>
        {% for obj in ests %}
            <div class="thumbnail">
                <div class="caption">

                    <h3><a href="{{ get_absolute_url}}workorder_detail/{{obj.jobId}}">{{obj.title}}</a></h3>
                    <strong>Created: {{obj.created|timesince }}</strong></br>
                    <strong>Modified: {{ obj.modified|timesince }}<br/>
                    <p><a href="{{ get_absolute_url }}workorder_detail/{{obj.jobId}}" class="btn btn-info" id="btnViewWorkorder" role="button">View</a></p>
                </div>
            </div>
        {%endfor%}
    </div>

    <div class="service-div">
        <h1>{{openserv}}</h1>
        {% for obj in ests %}
            <div class="thumbnail">
                <div class="caption">

                    <h3><a href="{{ obj.get_absolute_url}}workorder_detail/{{obj.jobId}}">{{obj.title}}</a></h3>
                    <strong>Created: {{obj.created|timesince }}</strong></br>
                    <strong>Modified: {{ obj.modified|timesince }}<br/>
                    <p><a href="{{ obj.get_absolute_url }}workorder_detail/{{obj.jobId}}" class="btn btn-info" id="btnViewWorkorder" role="button">View</a></p>
                </div>
            </div>
        {% endfor %}
    </div>



</div>


        </div>

{% endblock content %}
{% block footer %}

<div class="pagination col-md-8">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></a>
        {% endif %}
    </span>
</div>

{% endblock footer %}}