@media print{


    body {
        background: #fff;
        color: #000;
        font-size: 8pt;
        line-height: 150%;
        margin: 0px;
    }
    hr {
        color: #ccc;
        background-color: #ccc;
    }
    h1, h2, h3, h4, h5, h6, code, pre {
        color: #000;
        text-transform: none; /* because sometimes I set all-caps */
    }
    h1 {
        font-size: 14pt;
        margin-top: 1em;
    }
    h2 {
        font-size: 13pt;
    }
    h3 {
        font-size: 12pt;
    }
    h4, h5, h6 {
        font-size: 10pt;
    }
    code, pre {
        font-size: 10pt;
        background-color: transparent;
    /* just in case the user configured browser to print backgrounds */
    }
    blockquote {
        background-image: none;
    /* though they may not print, I’d rather be sure */
    }
    a:link, a:visited {
        text-decoration: underline;
        color: #000;
    }
    .topnav, .sideNav, #right_pane div, .btn{
            visibility:hidden;

    }
}
/********************end of Printing************************/
#main{
    margin-left:5%;

}

h1 {
color:#777777;
}

h3{
    style:italic;
}

/* customer list*/

.customer_list_div{
    border:none;

}

.service-div .btn .btn-info{
    background-color:black;

}


.service-div{
    float:right;
    background-color: transparent;
    border: 1px transparent solid;

}
.service-div .thumbnail .caption{
    border-radius: 25px;
    background-color:red;
    text-align:center;
    width:250px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color:white;


}
.service-div .thumbnail .caption a{
    background-color:white;
    border: 1px black solid;
    border-radius:10px;
    padding:5px;
    background-color: steelblue;
    color:white;


}
.service-div .thumbnail .caption .btn-info{
    background-color:steelblue;

}






.estimate-div{
    float:left;
    margin-bottom:0px;
}


.estimate-div .thumbnail .caption{
    border-radius: 25px;
    background-color:green;
    text-align:center;
    width:250px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color:white;

}
.estimate-div .thumbnail .caption a{
    background-color:white;
    border: 1px black solid;
    border-radius:10px;
    padding:5px;
    background-color: steelblue;
    color:white;
}

.estimate-div .thumbnail .caption .btn-info{
    background-color:steelblue;

}



.customer-list-object{
    draggable: true;

}


/* end customer list*/
#btnbox{
    display:inline-block;
   }

#btnViewCustomer{
    width:200px;
    background-color:red;
}
/* topnav */
#menu-bar {
  width: 95%;
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 0px 6px;
  height: 39px;
  line-height: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: -1px 0px 6px #666666;
  -webkit-box-shadow: -1px 0px 6px #666666;
  -moz-box-shadow: -1px 0px 6px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #A9A9A9,  #121212);
  background: -ms-linear-gradient(top,  #A9A9A9,  #121212);
  background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#121212));
  background: -moz-linear-gradient(top,  #A9A9A9,  #121212);
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}





/* sidenav */

#sideNav{
    margin-top:80px;
    float: left;
    color: white;
    background:#CCC;
    position:fixed;
    width:75px;
    padding:10px 10px 10px 10px;
}



.sideNav ul{
    text-align:center;
    background:#FFF;
    list-style-type: none;
    margin:0px;
    padding:0px;
    width:100%;
}

.sideNav ul li a{
    font-family:"Arial", Arial, Veranda;
    font-size:25px;
    display: block;
    color: #000;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}


.sideNav li a:hover {
    background-color: #555;
    color: white;
}


/* end sidenav */

/* tables */

table{
    border:1px solid transparent;

}

table tr{
    border:1px solid transparent;
    vertical-align: top;

}

tbody tr:nth-child(even){
    background-color:lightblue;

}

table tr, td{

    text-align: left;
    width:5%;
}

td:hover{
    background-color:black;
    color:white;

}


/* end tables */

/* first-content-block */
#first-content-block{
    float:left;
    margin-bottom:50px;
    clear:right;
}
/* end first-content block */

/* second-content-block */
#second-content-block{
    float:left;
    width:50%;
}

#appointment-content-block{
    margin-top:10px;
}


#right_pane{

    float:right;
}


/* end second-content block */

/* map */
#map {
    position:absolute;
    top:0;
    right:0;
    display: inline-block;
    width:380px;
    height:400px;
    vertical-align:top;
    float:right;
    border:solid black 2px;
    clear:none;

}
/* end map */

#appointment-div{

    float:right;

}
#jobsite-div{
    float:right;


}

/* pagination */
// change the day's background color just for fun
#pagination{
    float:left;
    clear:both;
}
.current{
    font-size:30px;
}
.glyphicon-step-forward{
font-size:30px;
}
.glyphicon-step-backward{
font-size:30px;
}
/* end pagination */
