 html, body {
        height: 100%;
        margin-top: 50px;
        padding: 0;
      }

h1 {
color:#777777;
}

.thumbnail div{
    background-color:#CCFFFF;
    text-align:center;
    width:250px;

}

h3{
    style:italic;
}

#btnbox{
    display:inline-block;
   }

#btnViewCustomer{
    width:200px;
}

/* topnav */

#topNav{


    color: white;
    background:#CCC;
}



.topNav ul{
    list-style-type:none;
    overflow:hidden;
    background-color:#333;

}

.topNav ul li{
    float:left;

}


.topNav ul li a{
    font-family:"Arial", Arial, Veranda;
    font-size:25px;
    display: block;
    color: #999;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}


.topNav li a:hover {
    background-color:#66ff66;
    color:black;

}

.topNav .active {
    background-color:#009900;
    color:white;

}

/*end topnav*/

/* sidenav */

#sideNav{
    margin-top:80px;
    float: left;
    color: white;
    background:#CCC;
    position:fixed;
    width:100px;
    padding:10px 10px 10px 10px;
}



.sideNav ul{
    text-align:center;
    background:#FFF;
    list-style-type: none;
    margin:0px;
    padding:0px;
    width:100%;
}

.sideNav ul li a{
    font-family:"Arial", Arial, Veranda;
    font-size:25px;
    display: block;
    color: #000;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}


.sideNav li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* end sidenav */

/* map */
#map {
    display: inline-block;
    width:380px;
    height:400px;
    vertical-align:top;
    float:right;
    border:solid black 2px;
    clear:none;




}
/* end map */


/* customer */
#customer_info_div {

    font-size:20px;

    margin-left:-200px;

    float: left;


}

#customer_info_div .tg  {border-collapse:collapse;border-spacing:0;border-width:1px;border-style:solid;}
#customer_info_div .tg td{font-family:Arial, sans-serif;font-size:14px;padding:3px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
#customer_info_div .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
#customer_info_div .tg .tg-0jv3{background-color:#ecf4ff;color:#3531ff}
#customer_info_div .tg .tg-5y5n{background-color:#ecf4ff}
#customer_info_div .tg .tg-5e9m{font-weight:bold;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;;background-color:#ecf4ff;color:#3531ff}
#customer_info_div .tg .tg-lllf{font-weight:bold;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;;background-color:#ecf4ff;color:#3531ff;vertical-align:top}
#customer_info_div .tg .tg-c57o{background-color:#ecf4ff;vertical-align:top}
#customer_info_div .tg .tg-p3fd{font-weight:bold;background-color:#ecf4ff;color:#3531ff;vertical-align:top}

label[for=id_phone2]{
    color:red;
}

label[for=id_email]{
    color:red;
}
label[for=id_source]{
    color:red;
}
label[for=id_phone2]{
    color:red;
}



/* end customer */

/* workorder */

#workorder_list_div{




    float: left;
    margin-bottom:100px;

}

#workorder_list_div h2{
    color:Black;
    display:inline-block;
    }

#workorder_list_div btn{
    display:inline-block;
    }

#workorder_info_div {
    display:inline-block;
    margin-left:-200px;
}

label[for=id_schedule_date]{
    color:red;
}

label[for=id_assigned_to]{
    color:red;
}

label[for=id_contract]{
    color:red;
}
label[for=id_completed]{
    color:red;
}
label[for=id_notes]{
    color:red;
}
.glyphicon-ok{
    color:red;
}

/* workorder table */

#workorder_info_div .tg  {border-collapse:collapse;border-spacing:0;border-width:1px;border-style:solid;}
#workorder_info_div .tg td{font-family:Arial, sans-serif;font-size:14px;padding:3px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
#workorder_info_div .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
#workorder_info_div .tg .tg-b44r{background-color:#cbcefb;vertical-align:top}
#workorder_info_div .tg .tg-69zb{background-color:#cbcefb;color:#3531ff;vertical-align:top}
#workorder_info_div .tg .tg-1rg7{color:#3531ff;vertical-align:top}
#workorder_info_div .tg .tg-fqpo{background-color:#cbcefb}
#workorder_info_div .tg .tg-t04w{color:#3531ff}
#workorder_info_div .tg .tg-yw4l{vertical-align:top}
#workorder_info_div .tg .tg-m1nk{background-color:#cbcefb;color:#3531ff}


/* end workorder */

/* search */
#search_div{
    float:left;
    margin-left:250px;;
}

/* eliminates the label on the search page to check off searching models */
#id_models{
visibility:hidden;
}
#searchForm p:nth-child(2) label {
visibility:hidden;}



/* end search */

/* pagination */
// change the day's background color just for fun
#pagination{
    float:left;
    clear:both;
}

.current{
    font-size:30px;

}


.glyphicon-step-forward{
font-size:30px;

}

.glyphicon-step-backward{
font-size:30px;

}


/* pagination */
/* end pagination */


/* calendar div */
.fc-day fc-widget:hover{
    background-color:red;

}



/* end calendar */

/* right_pane*/
#right_pane{
    float:right;


}

/* end right_pane */